{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-prettier",
    "stylelint-order",
    "stylelint-declaration-use-variable",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "rules": {
    "prettier/prettier": true,
    "sh-waqar/declaration-use-variable": [],
    "plugin/declaration-block-no-ignored-properties": true,
    "no-empty-source": true,
    "declaration-empty-line-before": "never"
  },
  "ignoreFiles": ["**/*.tsx", "./dist/**/*", "bundle.css", "./cjs/**/*", "./esm/**/*", "./umd/**/*", "./_tmp/**/*"]
}
